@import "../../variables.scss";
@import "../../mixins.scss";

.headerContainer {
  margin: 50px 0 30px 0;

  @include phone-A {
    margin: 40px 0 20px 0;
  }
}

.header {
  display: inline-block;
  position: relative;
  padding-bottom: 10px;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 30px;

  @include tablet-B {
    font-size: 26px;
  }

  @include phone-A {
    font-size: 21px;
  }

  &:after {
    position: absolute;
    z-index: -1;
    content: "";
    left: 0;
    bottom: 5px;
    height: 20px;
    width: calc(100% + 10px);
    background: $brandTertiary;
  }
}
