@import "../../variables.scss";
@import "../../mixins.scss";

.header {
  letter-spacing: 1.6px;
  font-size: 45px;
  font-weight: 800;
  color: inherit;

  @include tablet-B {
    font-size: 41px;
  }

  @include phone-A {
    font-size: 14px;
  }
}

.footer {
  margin-top: 20px;
  padding-top: 10px;
  font-size: 0.95rem;
  color: $textTertiary;
}
