@import "../../variables.scss";
@import "../../mixins.scss";

.listContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 15px 0 40px 0;

  @include tablet-C {
    justify-content: initial;
    margin: 0 0 40px 0;
  }

  .software {
    text-decoration: none;
    margin-bottom: 10px;
    white-space: nowrap;
    font-weight: 700;
    color: $brandPrimary;
  }

  li {
    display: flex;
    flex-direction: column;
    color: $textPrimary;

    @include tablet-C {
      margin-top: 15px;
      margin-right: 20px;
    }
  }
}
