@import "../../variables.scss";
@import "../../mixins.scss";

.experience {
  margin: 20px 0;
}

.experienceTopRow {
  display: flex;
  justify-content: space-between;

  @include phone-A {
    flex-direction: column;
    justify-content: initial;
  }
}

.company {
  padding-right: 8px;
  color: $brandPrimary;
}

.periodAndLocation {
  color: $textSecondary;

  @include phone-A {
    padding-top: 5px;
  }
}

.description {
  margin-top: 8px;
  line-height: 1.7;
  color: $textPrimary;
}
