@import "../../variables.scss";

.course {
  margin: 20px 0;
}

.courseName {
  color: $brandPrimary;
}

.website {
  padding-right: 8px;
  font-weight: 700;
}

.description {
  margin-top: 8px;
  line-height: 1.7;
  color: $textPrimary;
}
