.backend {
  display: flex;
  flex-direction: column;

  span {
    margin-bottom: 10px;
    font-weight: 700;
  }
}

.listContainer {
  display: flex;
  list-style-type: none;

  li:not(:last-child) {
    padding-right: 8px;
  }
}
