// Website colors
$background: #22292f;
$white: #f1f5f8;
$textSelection: #12283a;
$textPrimary: #b8c2cc;
$textSecondary: #8795a1;
$textTertiary: #3d4852;
$brandPrimary: #64d5ca;
$brandSecondary: #a0f0ed;
$brandTertiary: #20504f;

// Hierachy
// $mobileMenuIcon: 9999;
// $mobileMenu: 9998;
